SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=3307
DB_NAME=eventhub
DB_USERNAME=eventhub
DB_PASSWORD=eventhub_dev

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=eventhub
RABBITMQ_PASSWORD=eventhub_dev

UPLOAD_ROOT=.data/uploads

AUTH_JWT_SECRET=replace-with-at-least-32-random-characters
AUTH_COOKIE_SECURE=false
ORDER_OUTBOX_SCAN_DELAY=5s
ORDER_TIMEOUT_SCAN_DELAY=60s
ORDER_PAYMENT_TIMEOUT=15m
