SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=3307
DB_NAME=eventhub
DB_USERNAME=eventhub
DB_PASSWORD=eventhub_dev

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_ACCESS_SECRET=replace-with-at-least-32-random-characters
JWT_REFRESH_SECRET=replace-with-at-least-32-random-characters
